/*

*/

body{
    margin:0px;
    background-color: whitesmoke;
    
}
.b{
  border: 2px solid red;
}

/* navigation bar */
.navbar{
    
    background-color: transparent;
}
.navbar .collapse>ul>li>a:hover{
    color: aqua;
}
.navbar .navbar-header a:hover{
    color: aqua;
}


.navbar .container-fluid .collapse>ul>li{
    
    font-weight: 600;
}

.outer .inner img{
    
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
     filter: blur(3px);
}
.centered{
    
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    color: rgba(20,10,20,10);
    font-family: serif;
    
        
}
.centered h3{
    color: lightgrey;
}
.outer .inner .btn{
    
    font-family: fantasy;
    background:transparent ;
    border: #ffffff solid 2px;
    color: white;
}
.outer .inner .btn{
    
    color: aqua ;
     border:2px solid aqua;
    
     
}
.outer .inner .button .btn{
    color: white;
}
.outer .inner .button .btn:hover{
    
    color: aqua;
    text-decoration: none;  
     

}

.centered h3{
    font-weight: 300;
    font-size: 40px;
    text-shadow: 10px 10px 10px black;
}

/* about part css */

.container .sep .sepration{
    
    border: 1px solid aqua;
}

.container{
    
    margin-top: 50px;
}

.heading h1{
    
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    
}
.heading h1 a{
    color: black;
}

.heading h1 a:hover{
    
    text-decoration: underline;
    transition-delay: 3.0s;
    transition-duration: 5.0s;
}

.outer-border{
    border: 2px solid aqua;
    margin-top: 50px; 
    box-shadow: 3px 3px  3px 3px black;
    margin-left: 20px;
    position: relative;
    left: 0px;
    top: 0px;
}
.outer-border .fa{
    
    font-size: 80px;
    text-align: center;
    height: 100%;
    width: 100%;
    color: aqua;
    position: relative;
    left: 0px;
    top: 15px;
    
}
.outer-border h3{
    text-align: center;
   
   
    position: relative;
    top: 5px;
    
}

.outer-border p{
    
    text-align: center;
    text-align: justify;
    padding: 20px;
    
    position: relative;
    left: 15px;
}

.container .myimage{
    margin-left: 30%;
}

.container .myimage .img-circle{
    
    height: 50% ;
    width: 50%;
}

.container .detail h3{
    
    font-weight: bold;
    text-align: center;
    
}

.container .detail  hr.hrline{
    
    border: 1px solid aqua;
    
}

.container .detail p{
    
    text-align: center;
    text-align: justify;
    
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}

.progresssec{
    margin-top: 60px;  
}
.progresssec .progress{
    
    height: 25px;
    border-radius: 0px;
}



.progress-bar{
    background-color: aqua;
    color: black;
    text-align: left;  
}

/* Blog css style */



.container .image-detail .outer-image-border h3,p{
    
    text-align: center; 
    padding-top: 20px;
}
.outer-image-border img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    overflow: hidden;
}
.outer-image-border a:hover{
    
    opacity: 0.5;
    position: relative;
    top: 40px;
    left: 0px;
    
    transition: 0.5s;
}

/* contact css */
.container .contactdetail{
    
    position: relative;
    top: 0px;
    left: 0px;
}

.container .contactdetail .fa{
    
    color: aqua;
    font-size: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    
    
}

.container .contactdetail h3{
    text-align: center;
    color: dimgray;
    
}
    


.container .contactdetail p{
    
    font-weight: bold;
    font-size: 12px;
}

.container .contactdetail a{
    
    color: black;
    font-size: 12px;
}
.sep .sepration{
    
    border: 1px solid aqua;
}

/* footer CSS style*/

.footer-image img{
    
    height: 100px;
    width: 100%;
}

.container .form-cover #name{
    
    color: dimgray;
}
.container .form-cover #email{
    
    color: dimgray;
}
.container .form-cover #message{
    
    color: dimgray;
}

.container form{
    
    
    box-sizing: border-box;
    padding-left: 10%;
}


.form-group .form-control{
    
    width: 280px;
    
    border:2px solid aqua;
    
    background: transparent;
    
    color: darkgray;
    
    font-weight: 600;
    
}

.container .form-align .form-group .btn{
    
    background-color: aqua;
    color: grey;
    border: 2px solid #2ab5ba;
    font-weight: 600;
    background-image: linear-gradient(to right,aqua,#2ab5ba);
    
}
/* footer social icons css*/

.container .social-icon{
    
    
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    position: relative;
    top: 30px;
}

.container .social-icon a{
    
    border: 1px solid aqua ;
    line-height: 12px;
    border-radius: 35px;
    padding: 15px;
    text-decoration: none;
}
.container .social-icon .fa{
    
    background-color: transparent;
    color: grey;
    font-weight: bold;
}

.container .social-icon  a.fa-facebook:hover{
    
    color: #3b5999;
    background:#C0C0C0;
    transition: 1.0s;
} 
.container .social-icon a.fa-instagram:hover{
    
    color: #e4405f;
    background:#C0C0C0;
    transition: 1.0s;
} 
.container .social-icon  a.fa-envelope:hover{
    
    color: #dd4b39;
    background:#C0C0C0;
    transition: 1.0s;
} 
.container .social-icon  a.fa-twitter:hover{
    
    color: #55acee;
    background:#C0C0C0;
    transition: 1.0s;
} 

.footer-border{
    
    background-color: #C0C0C0;
}

.footer-border .container p{
    
    line-height: 20px;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
}
